services:
  cli:
    build:
      context: .
      target: cli
      dockerfile: Dockerfile
    image: "laravel-ip-client-php-local"
    volumes:
      - ./:/opt/apps/app
  bun:
    build:
      context: .
      target: bun
      dockerfile: Dockerfile
    image: "laravel-ip-client-bun-local"
    volumes:
      - ./:/opt/apps/app
